.formulario{
    
    width: 80%;
    padding: 20px;
    border-radius: 5px;
    padding-left: 20%;
    
}
.formulario label{
    color: aliceblue;
}
.titulo_formulario{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size:  25px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
    line-height: 1.9;
    background-color: black;
    width: 100%;
    
    
}
form{
    background-size: cover;
    background-color: #ffffff;
    align-content: center;
}
@media(max-width:767px){

    .formulario{
    
    width: 100%;
    align-self: center;
    align-items: center;
    border-radius: 5px;
    padding-left: 2%;
    margin-bottom: 20px;

    }
    .btn_formulario{
        margin-bottom: 10px;
        
    }

}